.info {
  width: min(100% - 2rem, 33.1875rem);
  margin-inline: auto;
  padding-block: 2.5rem;
  text-align: center;
}

.info :first-child ~ * {
  margin-block-start: 1.25rem;
}

.info p > strong {
  font-size: clamp(1.125rem, 0.6848rem + 1.9565vw, 2.25rem);
}


.info :first-child ~ ul {
  margin-block-start: 2.5rem;
  justify-content: center;
}

.info ul li a {
  text-transform: none;
  width: min(100%, 15.75rem);
}

.info [class^=icon] {
  font-size: 1.125rem;
}

@media screen and (max-width: 30rem) {
  .info {
    width: min(100% - 2rem, 21.25rem);
  }
  .info ul li {
    flex: 1 0 100%;
  }

  .info ul li a {
    width: 100%;
  }
}