.registration {
  display: flex;
  flex-direction: column;
  gap: var(--base-space);
  width: min(100% - 2rem, 28.6875rem);
  margin-inline: auto;
  margin-block: var(--ofm-size-24-40);
}

.registration input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1 / 1;
  font-size: 1rem;
}

.registration h2 {
  text-align: center;
}

.registration fieldset {
  margin-block: 2em;
}

.registration fieldset label:first-child~label {
  margin-top: 2em;
}

.registration label {
  display    : flex;
  align-items: flex-start;
  gap        : 1em;
}

.registration label:first-child {
  font-weight: bold;
}

.registration footer {
  text-align: center;
}
.registration footer > p {
  text-align: left;
  margin: 0 0 1rem 2.325rem;
}

.registration footer button {
  margin: auto;
}

.registration footer > p::before,
.registration input:required+span::before {
  content: "*";
  display: inline-block;
  width: 1em;
  color: red;
}
